.sl-fa-button { 
    font-size: 3em;
    font-family: "FontAwesome";
    padding: 5px;
}

.sl-button-disabled {
    color: lightgrey !important;
}

.sl-image-button-disabled {
    filter: opacity(.2);
}


.sl-stop-button {
    cursor: pointer;
    vertical-align: baseline;
    width: 35px;
    height: 40px;
    cursor: pointer;
}

.sl-play-button {
    cursor: pointer;
    vertical-align: baseline;
    width: 35px;
    height: 40px;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 1px;
}

.sl-pause-button {
    cursor: pointer;
    vertical-align: baseline;
    width: 35px;
    height: 40px;
    cursor: pointer;
    margin-left: 9px;
}

.sl-record-button {
    position: relative;
    left: -3px;
    cursor: pointer;
    vertical-align: baseline;
    width: 35px;
    height: 40px;
    cursor: pointer;
}

.sl-create-note-button {
    cursor: pointer;
    vertical-align: baseline;
    font-size: 220%;

    position:  relative;
    left: -2px;
    top: -11px;
    padding-left: 15px;
    color: green;
}

.sl-edit-segment-button {
    color: #337ab7;
    margin-left: 12px;
    font-size: 170%;
    vertical-align: baseline;
    position: relative;
    top: 5px;
    cursor: pointer;
    opacity: 0; 
}

.sl-edit-segment-button-tour {
  opacity: 1; 
}

.passage-segments-editor:hover .sl-edit-segment-button {
  opacity: 1; 
  transition-delay: .5s;
  transition-duration: 1s; 
}

.sl-ok-edit-segment-lables-button {
    color: green;
    font-size: 250%;
    vertical-align: baseline;
    top: 5px;
    cursor: pointer;
    position: relative;
    right: -273px;
}

.sl-cancel-edit-segment-lables-button {
    /* color: red; */
    font-size: 250%;
    vertical-align: baseline;
    top: 5px;
    cursor: pointer;
    position: relative;
    right: -283px;
}

#dropdown-select-segment {
    top: -18px;
    background-image: none;
    border: none;
    box-shadow: none;
}

.sl-adjust-current-time {
    margin: 0 auto;
    width: 100px;
}

.sl-adjust-current-time-button {
    width:  25px;
    padding: 5px;
}

.sl-passage-add-button {
    font-size: 130% !important;
}

.sl-tour-button {
    font-size: 180%;
    margin-left: 5px;
    position: relative;
    top: 4px;
    color: rgb(33, 147, 185)
}

.sl-play-tour-step-button {
    font-size: 2em;
    color: rgb(33, 147, 185)
}

.sl-delete-segment-button { 
    font-size: 170%;
    font-family: "FontAwesome";
    cursor: pointer;
    opacity: 0;
    color: #337ab7;
}

.sl-previous-segment-button { 
    font-size: 170%;
    font-family: "FontAwesome";
    cursor: pointer;
    color: #337ab7;
}

.sl-next-segment-button { 
    font-size: 170%;
    font-family: "FontAwesome";
    cursor: pointer;
    color: #337ab7;
}

.passage-segments-editor:hover .sl-delete-segment-button {
  opacity: 1; 
  transition-delay: .5s;
  transition-duration: 1s; 
}

