.app-container {
  margin: 10px;
}

.app-selector-div {
  margin-top: 10px;  /* centers app mode selection icons */
}

.app-accountsUI {
  margin-top: 9px;
  margin-left: 17px;
}

.app-selector-icon {
  margin-right: 15px;
}

.app-navbar-bottom-margin { margin-bottom: 10px; }

.app-database {
  display: flex;
}

.app-database-list {
  width: 500px;
}

.app-database-details {
  width: 700px;
}
